{% extends 'base/base.html.twig' %}

{% block title %}Ajouter un média{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="heading-stylized">Ajouter un média</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
    <script>const page = "navAssos"</script>
{% endblock %}

