{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | mention Légales {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
            <p id="titreContact">Mention légales</p>
        </div>
        <div class="container-fluid">
            <p><strong>Confidentialité</strong></p>

            <p>NailStudio n’enregistre pas d’informations personnelles permettant l’identification, à l’exception des formulaires que l’utilisateur est libre de remplir. Ces informations ne seront pas utilisées sans votre accord, nous les utiliserons seulement pour vous adresser des courriers, des brochures, des devis ou vous contacter.</p>

            <p>Les informations recueillies sur les sites bénéficient de la protection de la loi « Informatique et Libertés » n° 78-17 du 06 janvier 1978. Elles bénéficient d’un droit d’accès, de rectification, d’opposition à communication et de suppression sur simple demande à <strong>NailStudio 5 rue de la Coursière 70110 GEORFANS.</strong></p>

            <p><strong>NailStudio</strong> pourra procéder à des analyses statistiques sans que celles-ci soient nominatives et pourra en informer des tiers (organismes d’évaluation de fréquentation) sous une forme résumée et non nominative.</p>

            <p><strong>Règlement général sur la protection des données (RGPD)</strong></p>

            <p><strong>NailStudio</strong> s’engage à ce que la collecte et le traitement de vos données, effectués à partir du site institut-nailstudio.com, soient conformes au règlement général sur la protection des données (RGPD). Chaque formulaire ou téléservice limite la collecte des données personnelles au strict nécessaire (minimisation des données) et indique notamment :</p>

            <p> ·       quels sont les objectifs du recueil de ces données, </p>

            <p>  ·       si ces données sont obligatoires ou facultatives pour la gestion de votre demande, </p>

            <p>  ·       qui pourra en prendre connaissance (uniquement NailStudio en principe, sauf précision dans le formulaire lorsqu’une transmission à un tiers est nécessaire à la gestion de votre demande),</p>

            <p>  Les données personnelles recueillies dans le cadre des services proposés sur http://institut-nailstudio.com sont traitées selon des protocoles sécurisés et permettent à NailStudio de gérer les demandes reçues dans ses applications informatiques. </p>

            <p>  Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par NailStudio, vous pouvez contacter NailStudio.</p>

            <p><strong>  Utilisation de cookies </strong></p>

            <p>   La gestion des commandes nécessite l’utilisation de cookies. Des informations non personnelles sont enregistrées par ce système de cookies (fichiers texte utilisés pour reconnaître un utilisateur et ainsi faciliter son utilisation du site). Ceux-ci n’ont aucune signification en dehors de leur utilisation sur le site http://institut-nailstudio.com  </p>

            <p><strong>Liens hypertexte</strong></p>

            <p>   NailStudio ne contrôle pas les sites en connexion avec le sien, et ne saurait donc être responsable de leur contenu. Les risques liés à l’utilisation de ces sites incombent pleinement à l’utilisateur. Il se conformera à leurs conditions d’utilisation. </p>

            <p><strong>Éditeur</strong></p>

            <p><strong>NailStudio</strong></p>
            <p><strong>Siret: 85258185900018</strong></p>
            <p><strong>Siège social : 5 rue de la Coursière 70110 GEORFANS</strong></p>
            <p><strong>N° de téléphone : 07 84 97 89 69 </strong></p>

            <p><strong>Directeur de la publication</strong></p>

            <p>Océane JEANNIN</p>

            <p><strong>Hébergement</strong></p>

            <p>  OVH</p>
        </div>
    </div>
{% endblock %}