{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | services {% endblock %}

{% block body %}
    <div class="container-fluid" id="services">
        <div class="container-fluid" id="Onglerie">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Onglerie :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        <p>blockLeft carousel</p>
                    </div>
                    <div class="container-fluid">
                        <p>block vidéo</p>
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour la pose de gel mains et pieds. </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une manucure :<br/>
                            Pose de gel mains : 40€<br/>
                            Pose de gel pieds : 25€
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="Extension">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Extension de cils :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        <p>blockLeft carousel</p>
                    </div>
                    <div class="container-fluid">
                        <p>block vidéo</p>
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour une extension de cils.  </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une extension de cils :<br/>
                            1ère pose : 80 euros<br/>
                            Remplissage 3 semaines : 40 euros<br/>
                            Remplissage 4 semaines : 48 euros
                        </p>
                    </div>
            </div>
            </div>
        </div>
        <div class="container-fluid" id="Epilation">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Epilation sourcils et lèvre :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        <p>blockLeft carousel</p>
                    </div>
                    <div class="container-fluid">
                        <p>block vidéo</p>
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour une épilation sourcils et lèvre.  </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une épilation sourcils et lèvre:<br/>
                            Epilation sourcils : 7 euros<br/>
                            Epilation lèvres : 7 euros<br/>
                            Epilation sourcils et lèvre : 12 euros<br/>
                            Teinture sourcils : 15 euros
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="Soins">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Soins visage :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        <p>blockLeft carousel</p>
                    </div>
                    <div class="container-fluid">
                        <p>block vidéo</p>
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour des soins du visage.</p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour un soin visage :<br/>
                            Anti-âge : Faire dans l’idéal une séance tout les mois 40 euros la séance forfais de 4
                            séances 110 euros au lieu de 160 euros.
                            <br/>
                            Visage : nettoyage de la peau 25 euros.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}