{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | contact {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
        <p id="titreContact">Contact</p>
        </div>
        <div class="container-fluid">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}