{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | réservation {% endblock %}

{% block body %}
    <div class="container-fluid" id="Reservations">
    {% if is_granted('ROLE_CLIENT') %}
        <p style="color: gray">Si vous avez pris rendez-vous mais que celui-ci ne s'affiche pas, il a surement été refusé.</p>
        <div class="container-fluid">
            <p class="text-center">
            <p>liste des rendez vous</p>
            {% if rdvs is not defined %}
                <p>aucun rendez vous</p>
            {% elseif rdvs is null %}
                <p>aucun rendez vous</p>
            {% elseif rdvs is not empty %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr><th>date</th><th>heure</th><th>préstation</th><th>valider</th></tr>
                    </thead>
                    {% for rdv in rdvs %}
                        <tr>
                            <td>{{ rdv.dateRdv|date('d/m/Y')}}</td><td>{{ rdv.heure }} </td>
                            <td>{{ rdv.typeService.libelle }}</td>
                            {% if rdv.valider %}
                                <td style="color: green"> valider</td>
                            {% else %}
                                <td style="color: gray"> en cours de validation</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <p><a href="/PrendreRendezVous" class="btn btn-primary">Prendre un rendez vous</a></p>
        </div>
        </div>
    {% endif %}
    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
        <p><a href="/admin/show/calendrier#menuBar" class="btn btn-primary">gérer les rendez-vous</a></p>
    {% endif %}
    {% if not is_granted("ROLE_CLIENT") and not is_granted("ROLE_ADMIN") %}
        <div class="container-fluid">
            <p>Afin d'accéder aux reservations veuillez vous connecter</p>
            <p><a href="/login">Se connecter</a></p>
        </div>
    {% endif %}
    </div>
{% endblock %}