{% extends 'base/base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <form method="post" action="{{ path('admin_add_service') }}">
            <legend>Ajouter un service</legend>

            <div class="form-group">
                <label>libelle :</label>
                <input name="libelle"  type="text"  size="18" value="{{donnees.libelle|default('')}}"
                       class="form-control {% if erreurs.libelle is defined %}is-invalid{% endif %}">
                {% if erreurs.libelle is defined %}
                    <div style="color: red">{{ erreurs.libelle }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>couleur :</label>
                <input name="color"  type="color"  size="18" value="#2a045CB" class="form-control">
           </div>
            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
        </form>
    </div>
{% endblock %}
